// footer styles

footer {
    background-color: $footer-bg-color;
    color: $text-color-light;
    height: 100px;

    display: flex;
    align-items: center;

    p {
        margin: 0 0 0 $padding;
        font-family: $heading-font;
        font-size: $h3-size;
    }
}