.accordion-container {
    min-height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;

    & > .accordion-item {
        flex: 30;
    }

    .accordion-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: flex 0.5s ease;

        // overflow: hidden;
        // max-height: 400px;

        &:nth-of-type(2n) {
            background-color: rgba(83, 51, 224, 0.226);
        }

        &:nth-of-type(2n+1) {
            background-color: rgba(98, 223, 140, 0.226);
        }

        &.collapse {
            flex: 1;
        }

        .title-bar {
            height: 100%;
        }
        
        h2 {
            height: 100%;
            text-align: center;
            margin: auto 0;
        }

        .accordion-content {
            height: 0;
            overflow: hidden;
            transition: height 0.5s ease;
        }

        &.active {
            h2 {
                margin: 0;
            }
            // overflow: auto;
        }
    }
}