// Colors
$footer-bg-color: rgb(33, 45, 59);
$header-border-bar: $footer-bg-color;
$onyx: #2e3a41;
$koamaru: #35355a;
$dark-purp: #291b3e;
$eerie-black: #201020;
$link-color: rgb(106, 175, 106);

// Text Colors
$text-color-dark: black;
$text-color-light: white;

// Fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Staatliches', cursive;
// Typographic Defualts
$line-height: 1.4;
$h1-size: 3em;
$h2-size: 2.2em;
$h3-size: 1.5em;

// Layout variables
$padding: 20px;
$header-height: 84px;
$mobile-header-height: 44px;
$max-page-width: 1200px;
$nav-height: 40px;

// Grid Values
$gutter: 3px;

// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$desktopMedium: em(1250);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';